{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3>Obrisi profil</h3>
            </div>
            <div class="card-body">
                <p>Da li ste sigurni da zelite da obrisete nalog?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Obrisi</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary">Odustani</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}